name: build

env:
  SGX_MODE: HW
  IAS_MODE: PROD
  RUST_BACKTRACE: full
  CONSENSUS_ENCLAVE_CSS: /var/tmp/consensus-enclave.css
  INGEST_ENCLAVE_CSS: /var/tmp/ingest-enclave.css

# only perform these build steps on pre-release or forced dev build
on:
  push:
    tags:
      - "v*-pre.*"
      - "*.dev-build.*"

jobs:
  build-and-pre-release:
    permissions:
      contents: write
    strategy:
      matrix:
        runner-tags:
          [
            [self-hosted, macOS, X64],
            [self-hosted, macOS, ARM64],
            mco-dev-large-x64,
          ]
        namespace: [test, prod]
        include:
          - runner-tags: [self-hosted, macOS, X64]
            container: ""
          - runner-tags: [self-hosted, macOS, ARM64]
            container: ""
          - runner-tags: mco-dev-large-x64
            container: mobilecoin/rust-sgx-base:v0.0.32
          - namespace: test
            network: testnet
          - namespace: prod
            network: mainnet
    runs-on: ${{ matrix.runner-tags }}
    container: ${{ matrix.container }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Brew Bundle
        if: runner.os == 'macOS'
        run: |
          brew bundle

      - name: Install Rust Toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2023-10-01
          override: true
          components: rustfmt, clippy

      - name: Consensus SigStruct
        run: |
          CONSENSUS_SIGSTRUCT_URI=$(curl -s https://enclave-distribution.${{ matrix.namespace }}.mobilecoin.com/production.json | grep consensus-enclave.css | awk '{print $2}' | tr -d \" | tr -d ,)
          (cd /var/tmp && curl -O "https://enclave-distribution.${{ matrix.namespace }}.mobilecoin.com/${CONSENSUS_SIGSTRUCT_URI}")

      - name: Ingest SigStruct
        run: |
          INGEST_SIGSTRUCT_URI=$(curl -s https://enclave-distribution.${{ matrix.namespace }}.mobilecoin.com/production.json | grep ingest-enclave.css | awk '{print $2}' | tr -d \" | tr -d ,)
          (cd /var/tmp && curl -O "https://enclave-distribution.${{ matrix.namespace }}.mobilecoin.com/${INGEST_SIGSTRUCT_URI}")

      - name: Cargo Build
        run: |
          cargo build --release

      - name: Copy binaries to cache folder
        run: |
          mkdir -pv build_artifacts/${{ matrix.network }}/mirror
          cp /var/tmp/*.css build_artifacts/${{ matrix.network }}
          cp target/release/full-service build_artifacts/${{ matrix.network }}
          cp target/release/signer build_artifacts/${{ matrix.network }}
          cp target/release/signer-service build_artifacts/${{ matrix.network }}
          cp target/release/validator-service build_artifacts/${{ matrix.network }}
          cp target/release/wallet-service-mirror-private build_artifacts/${{ matrix.network }}/mirror
          cp target/release/wallet-service-mirror-public build_artifacts/${{ matrix.network }}/mirror
          cp target/release/generate-rsa-keypair build_artifacts/${{ matrix.network }}/mirror
          cp mirror/EXAMPLE.md build_artifacts/${{ matrix.network }}/mirror

      - name: Create Artifact
        run: |
          mkdir -pv artifact
          cd artifact && tar -czvf ${{ github.sha }}-${{ runner.os }}-${{ runner.arch }}-${{ matrix.network }}.tar.gz -C ../build_artifacts/${{ matrix.network }}/ .

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: full-service_${{ runner.os }}-${{ runner.arch }}-${{ matrix.network }}
          path: artifact/${{ github.sha }}-${{ runner.os }}-${{ runner.arch }}-${{ matrix.network }}.tar.gz

      - name: Create Prerelease
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          mkdir -pv release
          cd release && tar -czvf ${{ github.ref_name }}-${{ runner.os }}-${{ runner.arch }}-${{ matrix.network }}.tar.gz -C ../build_artifacts/${{ matrix.network }}/ .

      - name: Upload Prerelease
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          prerelease: true
          files: |
            release/${{ github.ref_name }}-${{ runner.os }}-${{ runner.arch }}-${{ matrix.network }}.tar.gz
