name: ci

env:
  SGX_MODE: SW
  IAS_MODE: DEV
  RUST_BACKTRACE: full
  CONSENSUS_ENCLAVE_CSS: /var/tmp/consensus-enclave.css
  INGEST_ENCLAVE_CSS: /var/tmp/ingest-enclave.css
  CSS_BASE_URL: https://enclave-distribution.test.mobilecoin.com

on:
  pull_request:
    branches:
      - develop
      - main
  push:
    branches:
      - main
      - develop

concurrency:
  group: full-service-ci-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: [self-hosted, Linux, large]
    container:
      image: mobilecoin/rust-sgx-base:v0.0.21
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Cache cargo packages
        uses: ./.github/actions/mobilecoin-cache-cargo-package
        with:
          cache_buster: ${{ secrets.CACHE_BUSTER }}

      - name: Consensus SigStruct
        run: |
          SIGSTRUCT_URI=$(curl -fsSL ${CSS_BASE_URL}/production.json | jq -r .consensus.sigstruct)
          curl -fL --retry 3 "${CSS_BASE_URL}/${SIGSTRUCT_URI}" -o "${CONSENSUS_ENCLAVE_CSS}"

      - name: Ingest SigStruct
        run: |
          SIGSTRUCT_URI=$(curl -fsSL ${CSS_BASE_URL}/production.json | jq -r .ingest.sigstruct)
          curl -fL --retry 3 "${CSS_BASE_URL}/${SIGSTRUCT_URI}" -o "${INGEST_ENCLAVE_CSS}"

      - name: Cargo sort
        run: |
          cargo install cargo-sort --force
          cargo sort --workspace --grouped --check

      - name: Cargo fmt
        run: |
          cargo fmt -- --unstable-features --check

      - name: Cargo Clippy
        run: |
          cargo clippy --all --all-features

  test:
    runs-on: [self-hosted, Linux, large]
    container:
      image: mobilecoin/rust-sgx-base:latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Cache cargo packages
        uses: ./.github/actions/mobilecoin-cache-cargo-package
        with:
          cache_buster: ${{ secrets.CACHE_BUSTER }}

      - name: Consensus SigStruct
        run: |
          SIGSTRUCT_URI=$(curl -fsSL ${CSS_BASE_URL}/production.json | jq -r .consensus.sigstruct)
          curl -fL --retry 3 "${CSS_BASE_URL}/${SIGSTRUCT_URI}" -o "${CONSENSUS_ENCLAVE_CSS}"

      - name: Ingest SigStruct
        run: |
          SIGSTRUCT_URI=$(curl -fsSL ${CSS_BASE_URL}/production.json | jq -r .ingest.sigstruct)
          curl -fL --retry 3 "${CSS_BASE_URL}/${SIGSTRUCT_URI}" -o "${INGEST_ENCLAVE_CSS}"

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2023-01-04
          override: true
          components: llvm-tools-preview

      - uses: actions-rs/cargo@v1
        with:
          command: test
        env:
          CARGO_INCREMENTAL: "0"
          RUSTFLAGS: "-Zprofile -Ccodegen-units=1 -Cinline-threshold=0 -Clink-dead-code -Coverflow-checks=off -Cpanic=abort -Zpanic_abort_tests"
          RUSTDOCFLAGS: "-Zprofile -Ccodegen-units=1 -Cinline-threshold=0 -Clink-dead-code -Coverflow-checks=off -Cpanic=abort -Zpanic_abort_tests"

      - id: coverage
        uses: actions-rs/grcov@v0.1

      - name: Codecov
        uses: codecov/codecov-action@v3.1.1
        with:
          files: ${{ steps.coverage.outputs.report }}
          verbose: true
          fail_ci_if_error: true
        env:
          CODECOV_TOKEN: 5be757b6-e923-40f2-80ea-5deac1e02b1e
