name: release

# only perform these build steps on non-pre-release
on:
  push:
    tags:
      - 'v*'
      - '!v*-pre*'

jobs:
  release:
    runs-on: [self-hosted, Linux, large]
    # Needs write permission for publishing release
    permissions:
      contents: write

    steps:
      - name: Get Current Pre-Release
        id: current_release
        uses: joutvhu/get-release@v1
        with:
          debug: true
          latest: true
          prerelease: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Download Latest Pre-Release
        uses: duhow/download-github-release-assets@v1
        with:
          tag: ${{ steps.current_release.outputs.tag_name }}
          files: |
            ${{ steps.current_release.outputs.tag_name }}-linux-testnet.tar.gz
            ${{ steps.current_release.outputs.tag_name }}-linux-mainnet.tar.gz
            ${{ steps.current_release.outputs.tag_name }}-mac-x86-testnet.tar.gz
            ${{ steps.current_release.outputs.tag_name }}-mac-x86-mainnet.tar.gz
            ${{ steps.current_release.outputs.tag_name }}-mac-arm64-testnet.tar.gz
            ${{ steps.current_release.outputs.tag_name }}-mac-arm64-mainnet.tar.gz
          target: /var/tmp/

      - name: Extract Release
        run: |
          rm -rfv build_artifacts
          mkdir -pv build_artifacts/linux-testnet
          mkdir -pv build_artifacts/linux-mainnet
          mkdir -pv build_artifacts/mac-x86-testnet
          mkdir -pv build_artifacts/mac-x86-mainnet
          mkdir -pv build_artifacts/mac-arm64-testnet
          mkdir -pv build_artifacts/mac-arm64-mainnet
          tar xzvf /var/tmp/${{ steps.current_release.outputs.tag_name }}-linux-testnet.tar.gz -C build_artifacts/linux-testnet
          tar xzvf /var/tmp/${{ steps.current_release.outputs.tag_name }}-linux-mainnet.tar.gz -C build_artifacts/linux-mainnet
          tar xzvf /var/tmp/${{ steps.current_release.outputs.tag_name }}-mac-x86-testnet.tar.gz -C build_artifacts/mac-x86-testnet
          tar xzvf /var/tmp/${{ steps.current_release.outputs.tag_name }}-mac-x86-mainnet.tar.gz -C build_artifacts/mac-x86-mainnet
          tar xzvf /var/tmp/${{ steps.current_release.outputs.tag_name }}-mac-arm64-testnet.tar.gz -C build_artifacts/mac-arm64-testnet
          tar xzvf /var/tmp/${{ steps.current_release.outputs.tag_name }}-mac-arm64-mainnet.tar.gz -C build_artifacts/mac-arm64-mainnet

      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          mkdir -pv release
          cd release
          tar -czvf ${{ github.ref_name }}-linux-testnet.tar.gz -C ../build_artifacts/linux-testnet/ .
          tar -czvf ${{ github.ref_name }}-linux-mainnet.tar.gz -C ../build_artifacts/linux-mainnet/ .
          tar -czvf ${{ github.ref_name }}-mac-x86-testnet.tar.gz -C ../build_artifacts/mac-x86-testnet/ .
          tar -czvf ${{ github.ref_name }}-mac-x86-mainnet.tar.gz -C ../build_artifacts/mac-x86-mainnet/ .
          tar -czvf ${{ github.ref_name }}-mac-arm64-testnet.tar.gz -C ../build_artifacts/mac-arm64-testnet/ .
          tar -czvf ${{ github.ref_name }}-mac-arm64-mainnet.tar.gz -C ../build_artifacts/mac-arm64-mainnet/ .

      - name: Upload Release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          prerelease: ${{ steps.prerelease.outputs.value }}
          files: |
            release/*